In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

/var/folders/jl/z8lh7gs972d83w95d9582jg80000gn/T/ipykernel_37952/3777615979.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython.display
  from IPython.core.display import display, HTML

# \<Project Title - ATP or WTA>

#### Student name: Scott O'Connor
#### Student ID: 96028881

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from pylab import rcParams

# Set some Pandas options as you like
pd.set_option('display.max_columns', 40)
pd.set_option('display.max_rows', 20)

rcParams['figure.figsize'] = 15, 10
rcParams['font.size'] = 20

%matplotlib inline

# TASK 1

### Task 1.a

I have read Excel files in individually in order to record the number of observations and features in each file. These values will be used for the sanity check in Task 1b.

In [3]:
tennis_2015 = pd.read_excel('ATP_2015-24/2015.xlsx',sheet_name='2015')
tennis_2015.info()
# Note that the date is year-month-day format

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 40 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         2630 non-null   int64
 1   Location    2630 non-null   object
 2   Tournament  2630 non-null   object
 3   Date        2630 non-null   datetime64[ns]
 4   Series      2630 non-null   object
 5   Court       2630 non-null   object
 6   Surface     2630 non-null   object
 7   Round       2630 non-null   object
 8   Best of     2630 non-null   int64
 9   Winner      2630 non-null   object
 10  Loser       2630 non-null   object
 11  WRank       2627 non-null   float64
 12  LRank       2624 non-null   float64
 13  WPts        2627 non-null   float64
 14  LPts        2624 non-null   float64
 15  W1          2621 non-null   float64
 16  L1          2621 non-null   float64
 17  W2          2594 non-null   float64
 18  L2          2594 non-null   float64
 19  W3          1277 non-null   float64
 20  L3          1277 non-null   float64
 21  W4          247 non-null    float64
 22  L4          247 non-null    float64
 23  W5          96 non-null     float64
 24  L5          96 non-null     float64
 25  Wsets       2621 non-null   float64
 26  Lsets       2621 non-null   float64
 27  Comment     2630 non-null   object
 28  B365W       2624 non-null   float64
 29  B365L       2625 non-null   float64
 30  EXW         2621 non-null   float64
 31  EXL         2621 non-null   float64
 32  LBW         2617 non-null   float64
 33  LBL         2617 non-null   float64
 34  PSW         2624 non-null   float64
 35  PSL         2624 non-null   float64
 36  MaxW        2628 non-null   float64
 37  MaxL        2628 non-null   float64
 38  AvgW        2628 non-null   float64
 39  AvgL        2628 non-null   float64
dtypes: datetime64[ns](1), float64(28), int64(2), object(9)
memory usage: 822.0+ KB

/opt/anaconda3/envs/example/lib/python3.12/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [4]:
tennis_2016 = pd.read_excel('ATP_2015-24/2016.xlsx',sheet_name='2016')
tennis_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2626 entries, 0 to 2625
Data columns (total 40 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         2626 non-null   int64
 1   Location    2626 non-null   object
 2   Tournament  2626 non-null   object
 3   Date        2626 non-null   datetime64[ns]
 4   Series      2626 non-null   object
 5   Court       2626 non-null   object
 6   Surface     2626 non-null   object
 7   Round       2626 non-null   object
 8   Best of     2626 non-null   int64
 9   Winner      2626 non-null   object
 10  Loser       2626 non-null   object
 11  WRank       2625 non-null   float64
 12  LRank       2619 non-null   float64
 13  WPts        2625 non-null   float64
 14  LPts        2619 non-null   float64
 15  W1          2608 non-null   float64
 16  L1          2608 non-null   float64
 17  W2          2586 non-null   float64
 18  L2          2586 non-null   float64
 19  W3          1228 non-null   float64
 20  L3          1228 non-null   float64
 21  W4          249 non-null    float64
 22  L4          249 non-null    float64
 23  W5          92 non-null     float64
 24  L5          92 non-null     float64
 25  Wsets       2606 non-null   float64
 26  Lsets       2606 non-null   float64
 27  Comment     2626 non-null   object
 28  B365W       2623 non-null   float64
 29  B365L       2623 non-null   float64
 30  EXW         2615 non-null   float64
 31  EXL         2620 non-null   float64
 32  LBW         2609 non-null   float64
 33  LBL         2609 non-null   float64
 34  PSW         2620 non-null   float64
 35  PSL         2620 non-null   float64
 36  MaxW        2624 non-null   float64
 37  MaxL        2624 non-null   float64
 38  AvgW        2624 non-null   float64
 39  AvgL        2624 non-null   float64
dtypes: datetime64[ns](1), float64(28), int64(2), object(9)
memory usage: 820.8+ KB

/opt/anaconda3/envs/example/lib/python3.12/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [5]:
tennis_2017 = pd.read_excel('ATP_2015-24/2017.xlsx',sheet_name='2017')
tennis_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2633 entries, 0 to 2632
Data columns (total 40 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         2633 non-null   int64
 1   Location    2633 non-null   object
 2   Tournament  2633 non-null   object
 3   Date        2633 non-null   datetime64[ns]
 4   Series      2633 non-null   object
 5   Court       2633 non-null   object
 6   Surface     2633 non-null   object
 7   Round       2633 non-null   object
 8   Best of     2633 non-null   int64
 9   Winner      2633 non-null   object
 10  Loser       2633 non-null   object
 11  WRank       2633 non-null   int64
 12  LRank       2627 non-null   float64
 13  WPts        2633 non-null   int64
 14  LPts        2627 non-null   float64
 15  W1          2618 non-null   float64
 16  L1          2619 non-null   float64
 17  W2          2587 non-null   float64
 18  L2          2587 non-null   float64
 19  W3          1275 non-null   float64
 20  L3          1275 non-null   float64
 21  W4          240 non-null    float64
 22  L4          240 non-null    float64
 23  W5          83 non-null     float64
 24  L5          83 non-null     float64
 25  Wsets       2617 non-null   float64
 26  Lsets       2616 non-null   float64
 27  Comment     2633 non-null   object
 28  B365W       2626 non-null   float64
 29  B365L       2626 non-null   float64
 30  EXW         2620 non-null   float64
 31  EXL         2620 non-null   float64
 32  LBW         2365 non-null   float64
 33  LBL         2367 non-null   float64
 34  PSW         2619 non-null   float64
 35  PSL         2619 non-null   float64
 36  MaxW        2630 non-null   float64
 37  MaxL        2630 non-null   float64
 38  AvgW        2630 non-null   float64
 39  AvgL        2630 non-null   float64
dtypes: datetime64[ns](1), float64(26), int64(4), object(9)
memory usage: 822.9+ KB

In [6]:
tennis_2018 = pd.read_excel('ATP_2015-24/2018.xlsx',sheet_name='2018')
tennis_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2637 entries, 0 to 2636
Data columns (total 40 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         2637 non-null   int64
 1   Location    2637 non-null   object
 2   Tournament  2637 non-null   object
 3   Date        2637 non-null   datetime64[ns]
 4   Series      2637 non-null   object
 5   Court       2637 non-null   object
 6   Surface     2637 non-null   object
 7   Round       2637 non-null   object
 8   Best of     2637 non-null   int64
 9   Winner      2637 non-null   object
 10  Loser       2637 non-null   object
 11  WRank       2637 non-null   int64
 12  LRank       2636 non-null   float64
 13  WPts        2637 non-null   int64
 14  LPts        2636 non-null   float64
 15  W1          2622 non-null   float64
 16  L1          2623 non-null   float64
 17  W2          2607 non-null   float64
 18  L2          2607 non-null   float64
 19  W3          1296 non-null   float64
 20  L3          1296 non-null   float64
 21  W4          265 non-null    float64
 22  L4          265 non-null    float64
 23  W5          91 non-null     float64
 24  L5          91 non-null     float64
 25  Wsets       2623 non-null   float64
 26  Lsets       2622 non-null   float64
 27  Comment     2637 non-null   object
 28  B365W       2624 non-null   float64
 29  B365L       2624 non-null   float64
 30  EXW         2618 non-null   float64
 31  EXL         2618 non-null   float64
 32  LBW         2162 non-null   float64
 33  LBL         2162 non-null   float64
 34  PSW         2617 non-null   float64
 35  PSL         2617 non-null   float64
 36  MaxW        2636 non-null   float64
 37  MaxL        2636 non-null   float64
 38  AvgW        2636 non-null   float64
 39  AvgL        2636 non-null   float64
dtypes: datetime64[ns](1), float64(26), int64(4), object(9)
memory usage: 824.2+ KB

In [7]:
tennis_2019 = pd.read_excel('ATP_2015-24/2019.xlsx',sheet_name='2019')
tennis_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2610 entries, 0 to 2609
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         2610 non-null   int64
 1   Location    2610 non-null   object
 2   Tournament  2610 non-null   object
 3   Date        2610 non-null   datetime64[ns]
 4   Series      2610 non-null   object
 5   Court       2610 non-null   object
 6   Surface     2610 non-null   object
 7   Round       2610 non-null   object
 8   Best of     2610 non-null   int64
 9   Winner      2610 non-null   object
 10  Loser       2610 non-null   object
 11  WRank       2606 non-null   float64
 12  LRank       2597 non-null   float64
 13  WPts        2607 non-null   float64
 14  LPts        2597 non-null   float64
 15  W1          2589 non-null   float64
 16  L1          2589 non-null   float64
 17  W2          2576 non-null   float64
 18  L2          2576 non-null   float64
 19  W3          1248 non-null   float64
 20  L3          1248 non-null   float64
 21  W4          265 non-null    float64
 22  L4          265 non-null    float64
 23  W5          96 non-null     float64
 24  L5          96 non-null     float64
 25  Wsets       2589 non-null   float64
 26  Lsets       2589 non-null   float64
 27  Comment     2610 non-null   object
 28  B365W       2597 non-null   float64
 29  B365L       2597 non-null   float64
 30  PSW         2599 non-null   float64
 31  PSL         2599 non-null   float64
 32  MaxW        2609 non-null   float64
 33  MaxL        2609 non-null   float64
 34  AvgW        2609 non-null   float64
 35  AvgL        2609 non-null   float64
dtypes: datetime64[ns](1), float64(24), int64(2), object(9)
memory usage: 734.2+ KB

In [8]:
tennis_2020 = pd.read_excel('ATP_2015-24/2020.xlsx',sheet_name='2020')
tennis_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1267 entries, 0 to 1266
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         1267 non-null   int64
 1   Location    1267 non-null   object
 2   Tournament  1267 non-null   object
 3   Date        1267 non-null   datetime64[ns]
 4   Series      1267 non-null   object
 5   Court       1267 non-null   object
 6   Surface     1267 non-null   object
 7   Round       1267 non-null   object
 8   Best of     1267 non-null   int64
 9   Winner      1267 non-null   object
 10  Loser       1267 non-null   object
 11  WRank       1266 non-null   float64
 12  LRank       1262 non-null   float64
 13  WPts        1266 non-null   float64
 14  LPts        1262 non-null   float64
 15  W1          1261 non-null   float64
 16  L1          1261 non-null   float64
 17  W2          1253 non-null   float64
 18  L2          1253 non-null   float64
 19  W3          703 non-null    float64
 20  L3          703 non-null    float64
 21  W4          179 non-null    float64
 22  L4          179 non-null    float64
 23  W5          75 non-null     float64
 24  L5          75 non-null     float64
 25  Wsets       1261 non-null   float64
 26  Lsets       1261 non-null   float64
 27  Comment     1267 non-null   object
 28  B365W       1262 non-null   float64
 29  B365L       1262 non-null   float64
 30  PSW         1259 non-null   float64
 31  PSL         1259 non-null   float64
 32  MaxW        1267 non-null   float64
 33  MaxL        1267 non-null   float64
 34  AvgW        1267 non-null   float64
 35  AvgL        1267 non-null   float64
dtypes: datetime64[ns](1), float64(24), int64(2), object(9)
memory usage: 356.5+ KB

In [9]:
tennis_2021 = pd.read_excel('ATP_2015-24/2021.xlsx',sheet_name='2021')
tennis_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2489 entries, 0 to 2488
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         2489 non-null   int64
 1   Location    2489 non-null   object
 2   Tournament  2489 non-null   object
 3   Date        2489 non-null   datetime64[ns]
 4   Series      2489 non-null   object
 5   Court       2489 non-null   object
 6   Surface     2489 non-null   object
 7   Round       2489 non-null   object
 8   Best of     2489 non-null   int64
 9   Winner      2489 non-null   object
 10  Loser       2489 non-null   object
 11  WRank       2489 non-null   int64
 12  LRank       2483 non-null   float64
 13  WPts        2489 non-null   int64
 14  LPts        2483 non-null   float64
 15  W1          2468 non-null   float64
 16  L1          2469 non-null   float64
 17  W2          2449 non-null   float64
 18  L2          2449 non-null   float64
 19  W3          1194 non-null   float64
 20  L3          1194 non-null   float64
 21  W4          272 non-null    float64
 22  L4          272 non-null    float64
 23  W5          100 non-null    float64
 24  L5          100 non-null    float64
 25  Wsets       2469 non-null   float64
 26  Lsets       2468 non-null   float64
 27  Comment     2489 non-null   object
 28  B365W       2468 non-null   float64
 29  B365L       2468 non-null   float64
 30  PSW         2482 non-null   float64
 31  PSL         2482 non-null   float64
 32  MaxW        2488 non-null   float64
 33  MaxL        2488 non-null   float64
 34  AvgW        2488 non-null   float64
 35  AvgL        2488 non-null   float64
dtypes: datetime64[ns](1), float64(22), int64(4), object(9)
memory usage: 700.2+ KB

In [10]:
tennis_2022 = pd.read_excel('ATP_2015-24/2022.xlsx',sheet_name='2022')
tennis_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2632 entries, 0 to 2631
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         2632 non-null   int64
 1   Location    2632 non-null   object
 2   Tournament  2632 non-null   object
 3   Date        2632 non-null   datetime64[ns]
 4   Series      2632 non-null   object
 5   Court       2632 non-null   object
 6   Surface     2632 non-null   object
 7   Round       2632 non-null   object
 8   Best of     2617 non-null   float64
 9   Winner      2632 non-null   object
 10  Loser       2632 non-null   object
 11  WRank       2632 non-null   int64
 12  LRank       2630 non-null   float64
 13  WPts        2632 non-null   int64
 14  LPts        2630 non-null   float64
 15  W1          2615 non-null   float64
 16  L1          2615 non-null   float64
 17  W2          2600 non-null   float64
 18  L2          2600 non-null   float64
 19  W3          1264 non-null   float64
 20  L3          1264 non-null   float64
 21  W4          268 non-null    float64
 22  L4          268 non-null    float64
 23  W5          99 non-null     float64
 24  L5          99 non-null     float64
 25  Wsets       2615 non-null   float64
 26  Lsets       2615 non-null   float64
 27  Comment     2632 non-null   object
 28  B365W       2622 non-null   float64
 29  B365L       2622 non-null   float64
 30  PSW         2617 non-null   float64
 31  PSL         2617 non-null   float64
 32  MaxW        2628 non-null   float64
 33  MaxL        2628 non-null   float64
 34  AvgW        2628 non-null   float64
 35  AvgL        2628 non-null   float64
dtypes: datetime64[ns](1), float64(23), int64(3), object(9)
memory usage: 740.4+ KB

In [11]:
tennis_2023 = pd.read_excel('ATP_2015-24/2023.xlsx',sheet_name='2023')
tennis_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2703 entries, 0 to 2702
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         2703 non-null   int64
 1   Location    2703 non-null   object
 2   Tournament  2703 non-null   object
 3   Date        2703 non-null   datetime64[ns]
 4   Series      2703 non-null   object
 5   Court       2703 non-null   object
 6   Surface     2703 non-null   object
 7   Round       2703 non-null   object
 8   Best of     2703 non-null   int64
 9   Winner      2703 non-null   object
 10  Loser       2703 non-null   object
 11  WRank       2701 non-null   float64
 12  LRank       2696 non-null   float64
 13  WPts        2701 non-null   float64
 14  LPts        2696 non-null   float64
 15  W1          2684 non-null   float64
 16  L1          2684 non-null   float64
 17  W2          2660 non-null   float64
 18  L2          2660 non-null   float64
 19  W3          1288 non-null   float64
 20  L3          1288 non-null   float64
 21  W4          272 non-null    float64
 22  L4          272 non-null    float64
 23  W5          100 non-null    float64
 24  L5          100 non-null    float64
 25  Wsets       2684 non-null   float64
 26  Lsets       2684 non-null   float64
 27  Comment     2703 non-null   object
 28  B365W       2698 non-null   float64
 29  B365L       2698 non-null   float64
 30  PSW         2691 non-null   float64
 31  PSL         2691 non-null   float64
 32  MaxW        2698 non-null   float64
 33  MaxL        2698 non-null   float64
 34  AvgW        2698 non-null   float64
 35  AvgL        2698 non-null   float64
dtypes: datetime64[ns](1), float64(24), int64(2), object(9)
memory usage: 760.3+ KB

In [13]:
tennis_2024 = pd.read_excel('ATP_2015-24/2024.xlsx',sheet_name='2024')
tennis_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2703 entries, 0 to 2702
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         2703 non-null   int64
 1   Location    2703 non-null   object
 2   Tournament  2703 non-null   object
 3   Date        2703 non-null   datetime64[ns]
 4   Series      2703 non-null   object
 5   Court       2703 non-null   object
 6   Surface     2703 non-null   object
 7   Round       2703 non-null   object
 8   Best of     2703 non-null   int64
 9   Winner      2703 non-null   object
 10  Loser       2703 non-null   object
 11  WRank       2703 non-null   int64
 12  LRank       2701 non-null   float64
 13  WPts        2703 non-null   int64
 14  LPts        2701 non-null   float64
 15  W1          2684 non-null   float64
 16  L1          2684 non-null   float64
 17  W2          2670 non-null   float64
 18  L2          2670 non-null   float64
 19  W3          1267 non-null   float64
 20  L3          1267 non-null   float64
 21  W4          293 non-null    float64
 22  L4          293 non-null    float64
 23  W5          119 non-null    float64
 24  L5          119 non-null    float64
 25  Wsets       2685 non-null   float64
 26  Lsets       2685 non-null   float64
 27  Comment     2703 non-null   object
 28  B365W       2696 non-null   float64
 29  B365L       2696 non-null   float64
 30  PSW         2691 non-null   float64
 31  PSL         2691 non-null   float64
 32  MaxW        2698 non-null   float64
 33  MaxL        2698 non-null   float64
 34  AvgW        2698 non-null   float64
 35  AvgL        2698 non-null   float64
dtypes: datetime64[ns](1), float64(22), int64(4), object(9)
memory usage: 760.3+ KB

In [26]:
#2015 has 2630 entries and 40 columns
#2016 has 2626 entries and 40 columns
#2017 has 2633 entries and 40 columns
#2018 has 2637 entries and 40 columns
#2019 has 2610 entries and only 36 columns (4 columns of betting information are missing)
#2020 has 1267 entries and only 36 columns (4 columns of betting information are missing)
#2021 has 2489 entries and only 36 columns (4 columns of betting information are missing)
#2022 has 2632 entries and only 36 columns (4 columns of betting information are missing)
#2023 has 2703 entries and only 36 columns (4 columns of betting information are missing)
#2024 has 2703 entries and only 36 columns (4 columns of betting information are missing)

tennis_total = pd.concat([tennis_2015, tennis_2016, tennis_2017, tennis_2018, tennis_2019, tennis_2020, tennis_2021, tennis_2022, tennis_2023, tennis_2024], ignore_index=True, sort=False)

### Task 1.b

Given the observed rows in each file, the combined dataset should have 2630 + 2626 + 2633 + 2637 + 2610 + 1267 + 2489 + 2632 + 2703 + 2703 = 24930 entries.

In [27]:
tennis_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24930 entries, 0 to 24929
Data columns (total 40 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         24930 non-null  int64
 1   Location    24930 non-null  object
 2   Tournament  24930 non-null  object
 3   Date        24930 non-null  datetime64[ns]
 4   Series      24930 non-null  object
 5   Court       24930 non-null  object
 6   Surface     24930 non-null  object
 7   Round       24930 non-null  object
 8   Best of     24915 non-null  float64
 9   Winner      24930 non-null  object
 10  Loser       24930 non-null  object
 11  WRank       24919 non-null  float64
 12  LRank       24875 non-null  float64
 13  WPts        24920 non-null  float64
 14  LPts        24875 non-null  float64
 15  W1          24770 non-null  float64
 16  L1          24773 non-null  float64
 17  W2          24582 non-null  float64
 18  L2          24582 non-null  float64
 19  W3          12040 non-null  float64
 20  L3          12040 non-null  float64
 21  W4          2550 non-null   float64
 22  L4          2550 non-null   float64
 23  W5          951 non-null    float64
 24  L5          951 non-null    float64
 25  Wsets       24770 non-null  float64
 26  Lsets       24767 non-null  float64
 27  Comment     24930 non-null  object
 28  B365W       24840 non-null  float64
 29  B365L       24841 non-null  float64
 30  EXW         10474 non-null  float64
 31  EXL         10479 non-null  float64
 32  LBW         9753 non-null   float64
 33  LBL         9755 non-null   float64
 34  PSW         24819 non-null  float64
 35  PSL         24819 non-null  float64
 36  MaxW        24906 non-null  float64
 37  MaxL        24906 non-null  float64
 38  AvgW        24906 non-null  float64
 39  AvgL        24906 non-null  float64
dtypes: datetime64[ns](1), float64(29), int64(1), object(9)
memory usage: 7.6+ MB

Good news! The number of observations in the combined data set equals the expected number.
This confirms that all the data has been read.
Note that from 2019 onwards, four features are missing, however, this is betting agency information and not deemed relevant to our intended analysis and so not considered a problem.

To check that all the data in the combined dataset is in order based on the date column, I will examine the head and tail of the combined data set and compare manually against the 2015 and 2024 Excel files. The dates in head of the combined file should be 2015, and those in the tail should be 2024.

In [15]:
tennis_total.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank,WPts,LPts,W1,L1,W2,L2,W3,L3,W4,L4,W5,L5,Wsets,Lsets,Comment,B365W,B365L,EXW,EXL,LBW,LBL,PSW,PSL,MaxW,MaxL,AvgW,AvgL
0,1,Brisbane,Brisbane International,2015-01-05,ATP250,Outdoor,Hard,1st Round,3.0,Duckworth J.,Simon G.,125.0,21.0,430.0,1730.0,6.0,2.0,6.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,4.50,1.18,4.30,1.20,4.33,1.20,4.67,1.23,4.73,1.23,4.31,1.20
1,1,Brisbane,Brisbane International,2015-01-05,ATP250,Outdoor,Hard,1st Round,3.0,Kokkinakis T.,Benneteau J.,149.0,25.0,341.0,1365.0,6.0,4.0,6.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,2.62,1.44,2.60,1.48,2.62,1.44,2.67,1.53,2.80,1.53,2.62,1.47
2,1,Brisbane,Brisbane International,2015-01-05,ATP250,Outdoor,Hard,1st Round,3.0,Chardy J.,Golubev A.,31.0,72.0,1195.0,691.0,6.0,4.0,6.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,1.28,3.50,1.33,3.20,1.33,3.25,1.34,3.50,1.36,3.50,1.32,3.30
3,1,Brisbane,Brisbane International,2015-01-05,ATP250,Outdoor,Hard,1st Round,3.0,Tomic B.,Querrey S.,53.0,35.0,797.0,1090.0,7.0,5.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,1.57,2.25,1.60,2.30,1.62,2.20,1.65,2.37,1.67,2.37,1.61,2.25
4,1,Brisbane,Brisbane International,2015-01-06,ATP250,Outdoor,Hard,1st Round,3.0,Kukushkin M.,Copil M.,69.0,201.0,705.0,242.0,6.0,4.0,4.0,6.0,6.0,4.0,NaN,NaN,NaN,NaN,2.0,1.0,Completed,1.53,2.37,1.50,2.50,1.44,2.62,1.48,2.84,1.58,2.84,1.50,2.53

In [16]:
tennis_total.tail()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank,WPts,LPts,W1,L1,W2,L2,W3,L3,W4,L4,W5,L5,Wsets,Lsets,Comment,B365W,B365L,EXW,EXL,LBW,LBL,PSW,PSL,MaxW,MaxL,AvgW,AvgL
24925,65,Turin,Masters Cup,2024-11-15,Masters Cup,Indoor,Hard,Round Robin,3.0,Zverev A.,Alcaraz C.,2.0,3.0,7315.0,6810.0,7.0,6.0,6.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,1.91,1.91,NaN,NaN,NaN,NaN,2.02,1.87,2.02,1.92,1.91,1.87
24926,65,Turin,Masters Cup,2024-11-15,Masters Cup,Indoor,Hard,Round Robin,3.0,Ruud C.,Rublev A.,7.0,8.0,3855.0,3760.0,6.0,4.0,5.0,7.0,6.0,2.0,NaN,NaN,NaN,NaN,2.0,1.0,Completed,2.50,1.53,NaN,NaN,NaN,NaN,2.59,1.56,2.63,1.64,2.43,1.55
24927,65,Turin,Masters Cup,2024-11-16,Masters Cup,Indoor,Hard,Semifinals,3.0,Fritz T.,Zverev A.,5.0,2.0,4300.0,7315.0,6.0,3.0,3.0,6.0,7.0,6.0,NaN,NaN,NaN,NaN,2.0,1.0,Completed,3.00,1.40,NaN,NaN,NaN,NaN,2.85,1.48,3.11,1.49,2.94,1.40
24928,65,Turin,Masters Cup,2024-11-16,Masters Cup,Indoor,Hard,Semifinals,3.0,Sinner J.,Ruud C.,1.0,7.0,10330.0,3855.0,6.0,1.0,6.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,1.05,11.00,NaN,NaN,NaN,NaN,1.06,12.48,1.07,12.48,1.05,9.58
24929,65,Turin,Masters Cup,2024-11-17,Masters Cup,Indoor,Hard,The Final,3.0,Sinner J.,Fritz T.,1.0,5.0,10330.0,4300.0,6.0,4.0,6.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,1.14,5.50,NaN,NaN,NaN,NaN,1.17,5.24,1.20,5.70,1.15,5.22

So far, everything is as expected.

I will conduct a further check to confirm the dates are in order by slicing the combined data file at the expected change-over between years. Hopefully the Date column is in ascending order.

In [22]:
# Does the Date change from end of 2015 to start of 2016?
tennis_total.iloc[2625:2636,3]

2625   2015-11-20
2626   2015-11-20
2627   2015-11-21
2628   2015-11-21
2629   2015-11-22
2630   2016-01-04
2631   2016-01-04
2632   2016-01-04
2633   2016-01-04
2634   2016-01-05
2635   2016-01-05
Name: Date, dtype: datetime64[ns]

In [24]:
# Does the Date change from end of 2016 to start of 2017?
tennis_total.iloc[5251:5261,3]

5251   2016-11-18
5252   2016-11-18
5253   2016-11-19
5254   2016-11-19
5255   2016-11-20
5256   2017-01-01
5257   2017-01-02
5258   2017-01-02
5259   2017-01-02
5260   2017-01-02
Name: Date, dtype: datetime64[ns]

In [29]:
# Does the Date change from end of 2017 to start of 2018?
tennis_total.iloc[7884:7895,3]

7884   2017-11-17
7885   2017-11-17
7886   2017-11-18
7887   2017-11-18
7888   2017-11-19
7889   2017-12-31
7890   2017-12-31
7891   2018-01-01
7892   2018-01-01
7893   2018-01-01
7894   2018-01-01
Name: Date, dtype: datetime64[ns]

In [30]:
# Does the Date change from end of 2018 to start of 2019?
tennis_total.iloc[10521:10532,3]

10521   2018-11-16
10522   2018-11-16
10523   2018-11-17
10524   2018-11-17
10525   2018-11-18
10526   2018-12-31
10527   2018-12-31
10528   2018-12-31
10529   2018-12-31
10530   2018-12-31
10531   2019-01-01
Name: Date, dtype: datetime64[ns]

In [32]:
# Does the Date change from end of 2019 to start of 2020?
tennis_total.iloc[13131:13142,3]

13131   2019-11-15
13132   2019-11-15
13133   2019-11-16
13134   2019-11-16
13135   2019-11-17
13136   2020-01-06
13137   2020-01-06
13138   2020-01-06
13139   2020-01-06
13140   2020-01-06
13141   2020-01-06
Name: Date, dtype: datetime64[ns]

In [33]:
# Does the Date change from end of 2020 to start of 2021?
tennis_total.iloc[14398:14409,3]

14398   2020-11-20
14399   2020-11-20
14400   2020-11-21
14401   2020-11-21
14402   2020-11-22
14403   2021-01-07
14404   2021-01-07
14405   2021-01-07
14406   2021-01-07
14407   2021-01-07
14408   2021-01-07
Name: Date, dtype: datetime64[ns]

In [34]:
# Does the Date change from end of 2021 to start of 2022?
tennis_total.iloc[16887:16898,3]

16887   2021-11-19
16888   2021-11-19
16889   2021-11-20
16890   2021-11-20
16891   2021-11-21
16892   2022-01-03
16893   2022-01-03
16894   2022-01-03
16895   2022-01-03
16896   2022-01-04
16897   2022-01-04
Name: Date, dtype: datetime64[ns]

In [28]:
# Does the Date change from end of 2022 to start of 2023?
tennis_total.iloc[19519:19530,3]

19519   2022-11-18
19520   2022-11-18
19521   2022-11-19
19522   2022-11-19
19523   2022-11-20
19524   2023-01-01
19525   2023-01-01
19526   2023-01-02
19527   2023-01-02
19528   2023-01-02
19529   2023-01-02
Name: Date, dtype: datetime64[ns]

In [31]:
# Does the Date change from end of 2023 to start of 2024?
tennis_total.iloc[22223:22234,3]

22223   2023-11-17
22224   2023-11-18
22225   2023-11-18
22226   2023-11-19
22227   2023-12-31
22228   2023-12-31
22229   2024-01-01
22230   2024-01-01
22231   2024-01-01
22232   2024-01-02
22233   2024-01-02
Name: Date, dtype: datetime64[ns]

Hooray, the Date column is in order!

What other checking can we do to ensure data is ready for analysis?
We should look for NaN values, negative values, or excessive large numbers in the columns that are relevant to our analysis

In [35]:
tennis_total.describe()

,ATP,Date,Best of,WRank,LRank,WPts,LPts,W1,L1,W2,L2,W3,L3,W4,L4,W5,L5,Wsets,Lsets,B365W,B365L,EXW,EXL,LBW,LBL,PSW,PSL,MaxW,MaxL,AvgW,AvgL
count,24930.000000,24930,24915.000000,24919.000000,24875.000000,24920.000000,24875.000000,24770.000000,24773.000000,24582.000000,24582.000000,12040.000000,12040.000000,2550.000000,2550.000000,951.000000,951.000000,24770.000000,24767.000000,24840.000000,24841.000000,10474.000000,10479.00000,9753.000000,9755.000000,24819.000000,24819.000000,24906.000000,24906.000000,24906.000000,24906.000000
mean,32.241075,2019-11-29 07:17:01.516245504,3.396869,59.297925,90.054432,1929.528892,1187.381146,5.808882,4.166108,5.785290,4.012123,6.035880,3.705316,5.787059,3.880784,6.482650,3.663512,2.162656,0.434288,1.858126,3.427733,1.800818,3.14697,1.844772,3.399723,1.931204,3.728882,1.991270,7.353345,1.861491,3.324405
min,1.000000,2015-01-05 00:00:00,3.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.971000,0.967000,1.000000,1.00000,1.000000,1.010000,0.972000,1.010000,1.010000,1.010000,1.000000,1.010000
25%,18.000000,2017-04-28 06:00:00,3.000000,17.000000,34.000000,725.000000,584.500000,6.000000,3.000000,6.000000,3.000000,6.000000,2.000000,6.000000,2.000000,6.000000,2.000000,2.000000,0.000000,1.280000,1.720000,1.250000,1.70000,1.250000,1.730000,1.300000,1.770000,1.330000,1.810000,1.280000,1.720000
50%,32.000000,2019-08-08 00:00:00,3.000000,42.000000,63.000000,1090.000000,843.000000,6.000000,4.000000,6.000000,4.000000,6.000000,4.000000,6.000000,4.000000,6.000000,3.000000,2.000000,0.000000,1.530000,2.380000,1.500000,2.45000,1.530000,2.500000,1.590000,2.530000,1.620000,2.620000,1.550000,2.430000
75%,49.000000,2022-07-30 00:00:00,3.000000,78.000000,102.000000,2130.000000,1286.500000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,6.000000,6.500000,4.500000,2.000000,1.000000,2.100000,3.750000,2.050000,3.70000,2.100000,3.775000,2.170000,3.900000,2.250000,4.050000,2.110000,3.660000
max,68.000000,2024-11-17 00:00:00,5.000000,1821.000000,4915.000000,16950.000000,16950.000000,7.000000,8.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,26.000000,24.000000,3.000000,2.000000,34.000000,101.000000,17.000000,28.00000,21.000000,41.000000,32.020000,81.000000,41.000000,42586.000000,161.000000,34.680000
std,18.185588,NaN,0.797658,72.588639,124.673698,2221.125442,1261.556651,1.227507,1.815655,1.254596,1.849559,0.939595,1.762322,1.284756,1.871904,1.605079,2.271638,0.454194,0.568593,1.150700,3.516894,0.954318,2.24764,1.076449,3.029968,1.242478,4.080243,1.353177,379.594876,1.444339,2.869291

The min, max and counts all look appropriate. 
There appear to be 15 missing values in the 'Best of' column, 11 missing values in 'WRank' and 55 missing values in LRank. Do any more relevant columns have missing values? 
I expect there to be many missing values in W2, L2 onwards because

In [58]:
tennis_total.columns

Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface',
       'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'WPts', 'LPts',
       'W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'Wsets',
       'Lsets', 'Comment', 'B365W', 'B365L', 'EXW', 'EXL', 'LBW', 'LBL', 'PSW',
       'PSL', 'MaxW', 'MaxL', 'AvgW', 'AvgL'],
      dtype='object')

In [61]:
how_many_missing_first_half = tennis_total[['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface',
       'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'WPts', 'LPts']].isna().sum()
how_many_missing_first_half

ATP            0
Location       0
Tournament     0
Date           0
Series         0
Court          0
Surface        0
Round          0
Best of       15
Winner         0
Loser          0
WRank         11
LRank         55
WPts          10
LPts          55
dtype: int64

In [63]:
how_many_missing_second_half = tennis_total[['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'Wsets',
       'Lsets', 'Comment']].isna().sum()
how_many_missing_second_half

W1           160
L1           157
W2           348
L2           348
W3         12890
L3         12890
W4         22380
L4         22380
W5         23979
L5         23979
Wsets        160
Lsets        163
Comment        0
dtype: int64

Are these missing values related to walkovers or retirements?

Should I delete the rows with these missing values?

In [33]:
tennis_2016.groupby('Date').count()

,ATP,Location,Tournament,Series,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank,WPts,LPts,W1,L1,W2,L2,W3,L3,W4,L4,W5,L5,Wsets,Lsets,Comment,B365W,B365L,EXW,EXL,LBW,LBL,PSW,PSL,MaxW,MaxL,AvgW,AvgL
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
01-02-2016,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,5,5,0,0,0,0,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
01-04-2016,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
01-05-2016,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,4,4,0,0,0,0,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
01-06-2016,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,4,4,0,0,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
01-07-2016,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,3,3,2,2,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31-01-2016,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
31-03-2016,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,1,1,0,0,0,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
31-07-2016,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
31-08-2016,17,17,17,17,17,17,17,17,17,17,17,17,17,17,16,16,16,16,16,16,7,7,1,1,16,16,17,17,17,17,17,17,17,17,17,17,17,17,17
31-10-2016,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,1,1,0,0,0,0,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9

### Task 1.c

### Task 1.d

# TASK 2

### Task 2.a

### Task 2.b

### Task 2.c

### Task 2.d

# TASK 3

### Task 3.a

### Task 3.b

### Task 3.c

### Task 3.d

# TASK 4

### Task 4.a

\<State the question that you are solving>

### Task 4.b

\<State the question that you are solving>

### Task 4.c

\<State the question that you are solving>